<li>
    <span>{{dataValues.User.dataValues.firstName}} {{dataValues.User.dataValues.lastName}}: <a id="doc-links"
            href="/docrender/{{dataValues.id}}">{{dataValues.title}}</a> TURNED IN: {{dataValues.createdAt}}</span>

</li>