<tr>
	<td>{{dataValues.User.dataValues.firstName}}</td>
	<td>{{dataValues.User.dataValues.lastName}}</td>

	<td><a href="/docrender/{{dataValues.id}}">{{dataValues.title}}</a></td>
	<td>{{dataValues.grade}}</td>
</tr>